{% extends "base.html"%}
{% block title%}Confidence Interval{%endblock%}

{% block content %}
  <main style="font-family: Arial">
    <style>
      .container {
          display: flex;
      }
        .input-column {
            flex: 1;
            padding: 20px;
        }
        .plot-column {
            flex: 2;
            padding: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        #plot, #time-series-plot {
            width: 100%;
            height: 500px;
            border: 0px solid #ccc;
        }
    </style>
     <center> <h2>Confidence Interval Visualization</h2></center>

    <p>This page helps explain and visualize the concept of the confidence interval. </p>

 


    <div class="container">
      <div class="input-column">
          <h2>Input Parameters</h2>
          <div class="form-group">
              <label for="mu">Population Mean (μ):</label>
              <input type="number" id="mu" step="0.1" value="0">
          </div>
          <div class="form-group">
              <label for="sigma">Population Standard Deviation (σ):</label>
              <input type="number" id="sigma" step="0.1" value="1">
          </div>
          <div class="form-group">
              <label for="n">Sample Size (n):</label>
              <input type="number" id="n" value="15">
          </div>
          <div class="form-group">
              <label for="confidence">Confidence Level (%):</label>
              <input type="number" id="confidence" step="0.1" min="0" max="100" value="95">
          </div>
          <button id="submit">Submit</button>
          <button id="reset" style="margin-bottom: 60px;">Reset</button>
          <div class="form-group">
              <label for="n_sim">Number of Simulations:</label>
              <input type="number" id="n_sim" value="10">
          </div>
          <button id="simulate">Simulate</button>
      </div>
      <div class="plot-column">
            <div>
                  <div id="stats">
                      <p>Intervals Generated: <span id="interval-count">0</span></p>
                      <p>Intervals Not Containing μ: <span id="interval-not-count">0</span></p>
                      <p>Percentage of Intervals Containing μ: <span id="percentage-containing-mu">0.00</span>%</p>
                  </div>
                <div id="time-series-plot"></div>
            </div>
          <div id="plot"></div>
          
      </div>
    </div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="static/app.js"></script>

    

  {% endblock %}