  {% extends "base.html"%}
  {% block title%}Home{%endblock%}

  {% block content %}
  
    <main style="font-family: Arial">
        <h2>Mission of the BERD Design and Computational Resources Unit</h2>
        <p>The mission of the BERD Design and Computational Resources Unit is to 
        collaborate and integrate OSCTR clinical research education, mentoring, and 
        career development to enhance training in Epidemiology and Biostatistics related 
        to clinical and translational research. The DCR will provides guided resources such 
        as written and video tutorials along with annotated code to enhance the research 
        quality and productivity of the OSCTR</p>


        <h2><a href="publicData">Data Sets</a></h2>
        <p>The DCR maintains a list of sites that house publicly available data sets.

        <h2><a href="analysisExamps">Examples of Data Analyses </a></h2>
        <p><a href="https://stats.oarc.ucla.edu/">The Office of Advanced Research Computing at UCLA</a> 
        offers a number of excellent resources to help see statistical methods applied in practice. These resources
        are organized into
          
          <ul style="list-style-type:circle">
            <li><a href="https://stats.oarc.ucla.edu/other/annotatedoutput/"><b>Annotated Output</b></a></li>
            <li> <a href="https://stats.oarc.ucla.edu/other/dae/"><b>Data Analysis Examples</b></a></li>
            <li><a href="https://stats.oarc.ucla.edu/other/examples/"><b>Textbook Examples</b></a></li>
            <li><a href="https://stats.oarc.ucla.edu/other/mult-pkg/faq/"><b>Freqently Asked Questions</b></a></li>
            <li><a href="https://stats.oarc.ucla.edu/">Software Training</a></li>
              <ul>
                <li><a href="https://stats.oarc.ucla.edu/r/"><b>R</b></a></li>
                <li><a href="https://stats.oarc.ucla.edu/stata/"><b>STATA</b></a></li>
                <li><a href="https://stats.oarc.ucla.edu/sas/"><b>SAS</b></a></li>
                <li><a href="https://stats.oarc.ucla.edu/sas/"><b>SPSS</b></a></li>
              </ul>
          </ul>
      Please note the links in this section will take you out of the 
        OSCTR BERD website</p>


        <h2><a href="workshops">Seminars, Short Courses, and Workshops</a></h2>
        <p>The OSCTR and BERD host regular  <a href="workshops"><b>Seminars, Short Coursess 
        and Workshops </b></a>.  Quick access to these resources can be found here.</p>

      <h2><a href="tutorials">Tutorials</a></h2>
      <p>Best practices and tutorials for commonly used data processing and analytics routines are available here.</p>


     
        <h2><a href="https://redcap.ouhsc.edu/redcap/surveys/?s=u8Tipfbiwk"><b>Training Online Request Form</a></h2>
        <p>If you would like to request a training session for your group or have a suggestion for training resources
        you would like to see added to this repository, please use the request form below to let us know about it.</p>
        


    </main>

  <script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>
{% endblock %}
