  {% extends "base.html"%}
  {% block title%}Data{%endblock%}

  {% block content %}
    <main style="font-family: Arial">
       <center> <h2>Publicly Available Data Sets</h2></center>

      <p>The DCR maintains a list of sites that house publicly available data sets.  Some of these data sets are governed by data use agreements
        while others are free to use without such agreements.  It is expected that propoer
        ethical considerations of data use will be followed regardless of a need for
        data use agreements </p>

      <div style="aling: center;">
          <label for="search-input">Search this page:</label>
          <input type="text" id="search-input" oninput="search()">
      </div>
      
       <h3><p class="separator">Data Sets in Public Health and Medicine</p>
       </h3>

       <b>May require use agreements.</b> These data sets are publicly available but may be subject to specific terms of use and data access requirements.  For example, you many need to submit a data request form to obtain access to the data


       <div><table class="sortable-table">
          <thead>
              <tr>
                  <th>Data</th>
                  <th>Description</th>

              </tr>
          </thead>
          <tbody>   
          <!-- Separator row -->
           <!--<tr> -->
             <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
           <!--</tr>-->

              <tr>
                  <td><a href="https://wonder.cdc.gov/"><b>CDC WONDER</b></a></td>
                  <td>The Centers for Disease Control and Prevention (CDC) provides access to the Wide-ranging Online Data for Epidemiologic Research (WONDER) system, which offers a wide range of public health data, including mortality, morbidity, and population data.</td>
              </tr>
              <tr>
                  <td><a href="https://sharing.nih.gov/accessing-data"><b>National Institutes of Health (NIH) Data Sharing Repositories<b></a></td>
                  <td>NIH offers a variety of datasets related to medical research, clinical trials, genomics, and more through its data sharing repositories, such as the National Library of Medicine's National Center for Biotechnology Information (NCBI) and the National Institute of Mental Health (NIMH) Data Archive.   
                 </td> 
              </tr>
              <tr>
                  <td><a href="https://www.who.int/data/"><b>World Health Organization (WHO) Data</b></a></td>
                  <td>The WHO provides access to a wealth of global health data, including disease statistics, health systems performance, and demographic information. </td>
              </tr>
              <tr>
                  <td><a href="https://www.cdc.gov/nchs/data_access/ftp_data.htm"><b>National Center for Health Statistics (NCHS)</b></a></td>
                  <td>NCHS, part of the CDC, offers various datasets on health and vital statistics in the United States.</td>
              </tr>
              <tr>
                  <td><a href="https://seer.cancer.gov/data/"><b>National Cancer Institute (NCI) SEER Datasets</b></a> </td>
                  <td>The Surveillance, Epidemiology, and End Results (SEER) program provides cancer statistics, including data on cancer incidence, survival, and mortality in the United States. </td>
              </tr>
              <tr>
                  <td><a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Research-Statistics-Data-and-Systems"><b>Medicare Data</b></a> </td>
                  <td>The Centers for Medicare & Medicaid Services (CMS <a href="https://data.cms.gov/">https://data.cms.gov/</a>) offers datasets related to healthcare utilization, provider performance, and payment information through the Medicare program. </td>
              </tr>
              <tr>
                  <td> <a href="https://nihcc.app.box.com/v/ChestXray-NIHCC"><b>Medical Image Datasets</b></a> </td>
                  <td>Various medical image datasets are available for tasks like image analysis and machine learning. Examples include the <a href="https://nihcc.app.box.com/v/ChestXray-NIHCC"><b>National Library of Medicine's Chest X-ray</b></a> and <a href="https://www.cancerimagingarchive.net/"><b>The Cancer Imaging Archive (TCIA)</b></a>. </td>
              </tr>
              <tr>
                  <td><a href="https://github.com/CSSEGISandData/COVID-19"><b>COVID-19 Datasets</b></a> </td>
                  <td>Several datasets related to the COVID-19 pandemic are publicly available, including data on cases, testing, and vaccine distribution. </td> 
              </tr>
              <tr>
                  <td><a href="https://www.cdc.gov/brfss/"><b>Behavioral Risk Factor Surveillance System (BRFSS)</b></a></td>
                  <td>BRFSS collects data on health risk behaviors, chronic health conditions, and use of preventive services in the United States.  </td>
              </tr>


            <tr>
                <td><a href="https://www.samhsa.gov/data/data-we-collect/nsduh-national-survey-drug-use-and-health"><b>National Survey on Drug Use and Health (SAMHSA.gov)</b></a></td>
                <td>National Survey on Drug Use and Health (NSDUH)
                Source: Substance Abuse and Mental Health Services Administration
                </td>
            </tr>



            <tr>
                <td><a href="https://www.cdc.gov/nchs/nhis/index.htm"><b>Nationl Health Interview Survey (NHIS)</b></a></td>
                <td>National Health Interview Survey (NHIS)
                Source: Centers for Disease Control & Prevention
                </td>
            </tr>

            <tr>
                <td><a href="https://www.cdc.gov/healthyyouth/data/yrbs/index.htm"><b>Youth Risk Behavior Surveillance System (YRBSS)</b></a></td>
                <td>Youth Risk Behavior Surveillance System (YRBSS)
                  Source: Centers for Disease Control & Prevention
                </td>
            </tr>

            <tr>
                <td><a href="https://www.cdc.gov/healthyyouth/data/abes.htm"><b>Adolescent Behaviors and Experiences Survey (ABES)</b></a></td>
                <td>Adolescent Behaviors and Experiences Survey (ABES)
                  Source: Centers for Disease Control & Prevention
                </td>
            </tr>
            <tr>
            <td><a href="https://wwwn.cdc.gov/nchs/nhanes/"><b>NHANES Questionnaires and Datasets (NHANES)</b></a></td>
                <td>National Health and Nutrition Examination Survey (NHANES)
                  Source: Source: Centers for Disease Control & Prevention
                </td>
            </tr>
            <tr>
         <td><a href="https://hints.cancer.gov/"><b>Health Information National Trends Survey (HINTS)</b></a></td>
             <td>Health Information National Trends Survey (HINTS)
               Source: National Cancer Institute
             </td>
         </tr>

            <tr>
             <td><a href="https://www.cdc.gov/nchs/dhcs/nhcs_registry_landing.htm"><b>National Health Care Survey Registry</b></a></td>
                 <td>National Health Care Surveys Source: Centers for Disease Control & Prevention
                 </td>
             </tr>

            <tr>
             <td><a href="https://www.cdc.gov/nchs/ahcd/about_ahcd.htm"><b>National Ambulatory Healthcare Survey (NAMCS/NHAMCS)</b></a></td>
                 <td>National Ambulatory Medical Care Survey (NAMCS)
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cdc.gov/nchs/nhcs/index.htm"><b>National Hospital Care Survey (NHCS)</b></a></td>
                 <td>National Hospital Care Survey (NHCS)
                 </td>
             </tr>

            <tr>
             <td><a href="https://www.cdc.gov/nchs/npals/index.htm"><b>National Post-acute and Long-term Care Study Homepage (NPALS)</b></a></td>
                 <td>National Post-acute and Long-term Care Study (NPALS)
                   Source: Center for Disease Control
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cdc.gov/nchs/nehrs/about.htm"><b>National Electronic Health Records Survey (NEHRS)</b></a></td>
                 <td>National Electronic Health Records Survey (NEHRS)
                   Source: Center for Disease Control
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cdc.gov/nchs/nsfg/"><b>National Survey of Family Growth (NSFG)</b></a></td>
                 <td>National Survey of Family Growth (NSFG)
                   Source: Center for Disease Control
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cdc.gov/nchs/data-linkage/index.htm"><b>National Center for Health Statistics (NCHS)</b></a></td>
                 <td>National Center for Health Statistics (NCHS)
                   Source: Centers for Disease Control & Prevention
                   National Center for Health Statistics
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cdc.gov/nchs/data_access/vitalstatsonline.htm"><b>Vital Statistics Online</b></a></td>
                 <td>Vital Statistics (Birth and Death datasets)
                   Source: Centers for Disease Control & Prevention
                   National Center for Health Statistics
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.icpsr.umich.edu/web/NAHDAP/series/35"><b>Monitoring the Future (MTF)</b></a></td>
                 <td>Monitoring the Future (MTF) Public-Use Cross-Sectional Datasets
                   Source: National Addiction & HIV Data Archive Program
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cancer.gov/ccg/access-data"><b>CCG Data</b></a></td>
                 <td>Center for Cancer Genomics (CCG) data resources
                   Source: National Cancer Institute
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cancer.gov/ccg/research/genome-sequencing/cgci"><b>CGCI Data</b></a></td>
                 <td>Cancer Genome Characterization Initiative (CGCI)
                   Source: National Cancer Institute
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cancer.gov/ccg/research/functional-genomics/ctd2"><b>CTD2 Data</b></a></td>
                 <td>Cancer Target Discovery and Development (CTD²) Network / C-T-D-Squared
                   Source: National Cancer Institute
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cancer.gov/ccg/research/functional-genomics/hcmi"><b>HCMI Data</b></a></td>
                 <td>Human Cancer Models Initiative (HCMI)
                   Source: National Cancer Institute
                 </td>
             </tr>
            <tr>
             <td><a href="https://www.cancer.gov/ccg/research/genome-sequencing/tcga"><b>TCGA Program</b></a></td>
                 <td>The Cancer Genome Atlas (TCGA)
                   Source: National Cancer Institute
                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/databases.jsp"><b>HCUP-US Databases</b></a></td>
                 <td>Healthcare Cost and Utilization Project (HCUP)
                   Source: Agency for Healthcare Research and Quality

                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/nisoverview.jsp"><b>HCUP-US NIS Overview</b></a></td>
                 <td>Healthcare Cost and Utilization Project (HCUP) National (Nationwide) Inpatient Sample (NIS)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/db/nation/kid/kiddbdocumentation.jsp"><b>KID Database</b></a></td>
                 <td>Kids’ Inpatient Database (KID)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/db/nation/nass/nassdbdocumentation.jsp"><b>NASS Database</b></a></td>
                 <td>Nationwide Ambulatory Surgery Sample (NASS)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/db/nation/neds/nedsdbdocumentation.jsp"><b>NEDS Database</b></a></td>
                 <td>Nationwide Emergency Department Sample (NEDS)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/db/nation/nrd/nrddbdocumentation.jsp"><b>NRD Databse</b></a></td>
                 <td>Nationwide Readmissions Database (NRD)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/db/state/siddbdocumentation.jsp"><b>SID Databse</b></a></td>
                 <td>State Inpatient Databases (SID)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>

            <tr>
             <td><a href="https://hcup-us.ahrq.gov/db/state/sasddbdocumentation.jsp"><b>SASD Databse</b></a></td>
                 <td>State Ambulatory Surgery and Services Databases (SASD)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>
            <tr>
             <td><a href="https://hcup-us.ahrq.gov/db/state/sedddbdocumentation.jsp"><b>SEDD Databse</b></a></td>
                 <td>State Emergency Department Databases (SEDD)
                   Source: Agency for Healthcare Research and Quality
                 </td>
             </tr>
                   </tbody>
               </table></div>

        <p class="separator"><b>Do NOT require use agreements</b> Although these may not have strict use requirements you should always check the specific terms of use and licensing associated with each dataset you intend to use to ensure compliance.
        </p>

        <div><table class="sortable-table">
           <thead>
               <tr>
                   <th>Data</th>
                   <th>Description</th>

               </tr>
           </thead>
           <tbody>   
           <!-- Separator row -->
            <!--<tr> -->
              <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
            <!--</tr>-->
               <tr>
                   <td><a href="https://trends.google.com/trends"><b>Google Trends Data</b></a></td>
                   <td>Google Trends provides access to search query data related to health topics. While it doesn't have strict access requirements, it's essential to review Google's terms of service for data usage guidelines. </td>
               </tr>
               <tr>
                   <td><a href="https://data.worldbank.org/topic/health"><b>World Bank Data</b></a></td>
                   <td>The World Bank offers various health-related datasets, including those related to healthcare access, health financing, and health expenditure. These datasets are generally publicly accessible without specific restrictions. </td>
               </tr>
               <tr>
                   <td><a href="https://www.gapminder.org/data/"><b>Gapminder</b></a></td>
                   <td>Gapminder offers a wide range of publicly accessible data related to global health and development. Their datasets cover various health indicators and socio-economic factors. </td>
               </tr>
               <tr>
                   <td><a href="https://data.census.gov/"><b>US Census Bureau Data</b></a></td>
                   <td>The US Census Bureau provides data related to population demographics, including health insurance coverage, disability status, and more. Most of their data is publicly accessible. </td>
               </tr>
               <tr>
                   <td><a href="https://catalog.data.gov/dataset"><b>Data.gov</b></a> </td>
                   <td>The U.S. government's open data portal, Data.gov, offers a variety of health-related datasets. Many of these datasets are available for public use without strict access requirements.  </td>
               </tr>
               <tr>
                   <td><a href="https://data.unicef.org/"><b>UNICEF Data</b></a> </td>
                   <td> UNICEF provides data related to child health, nutrition, and well-being. Their datasets are often accessible to the public. </td>
               </tr>
               <tr>
                   <td> <a href="http://ghdx.healthdata.org/gbd-2019"><b>Global Burden of Disease Study (GBD)</b></a> </td>
                   <td>The Institute for Health Metrics and Evaluation (IHME) offers publicly accessible data related to the global burden of diseases, injuries, and risk factors.  </td>
               </tr>
               <tr>
                   <td><a href="https://www.kaggle.com/datasets"><b>Open Data on Kaggle</b></a>  </td>
                   <td>Kaggle hosts various datasets, including health-related data. Many of these datasets are open for public use, but you should check individual dataset terms for any restrictions.</td> 
               </tr>
                    </tbody>
                </table></div>




         <h3><p class="separator">Data Sets for Machine Learning</p>
         </h3>

          <div><table>
             <thead>
                 <tr>
                     <th>Data</th>
                     <th>Description</th>

                 </tr>
             </thead>
             <tbody>   
             <!-- Separator row -->
              <!--<tr> -->
                <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
              <!--</tr>-->
                 <tr>
                     <td><a href="https://archive.ics.uci.edu/"><b>Machine Learning Repository at UC Irvine</b></a> </td>
                     <td>This repository has over 600 data sets with a variety of sample sizes and variables.  Topics for these datasets are varied and include agriculture, biology, computer science, medicine, and public health.  Users can contribute datasets so this repository will grow over time. 
                     </p> </td>
                 </tr>

                      </tbody>
                  </table></div>



          <h3><p class="separator">Data Sets in R packages</p>
          </h3>


          <div><table class="sortable-table">
             <thead>
                 <tr>
                     <th>Data</th>
                     <th>Description</th>

                 </tr>
             </thead>
             <tbody>   
             <!-- Separator row -->
              <!--<tr> -->
                <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
              <!--</tr>-->
                 <tr>
                     <td><a href="https://cran.r-project.org/web/packages/mdsr/index.html"><b>Airline Delays</b></a> </td>
                     <td>The United States Bureau of Transportation Statistics has collected data on more than 169 million domestic flights dating back to October 1987. These data were used for the 2009 ASA Data Expo (H. Wickham 2011) (a subset are available in the MySQL database we have made available through the <b>mdsr</b> package). The <b>nycflights13</b> package contains a proper subset of these data (flights leaving the three most prominent New York City airports in 2013).</td>
                 </tr>
                 <tr>
                     <td><a href="https://cran.r-project.org/web/packages/Lahman/index.html"><b>Baseball</b></a> </td>
                     <td>The Lahman database (in the <b>Lahman</b> package) is maintained by Sean Lahman, a database journalist. Compiled by a team of volunteers, it contains complete seasonal records going back to 1871 and is usually updated yearly. It is available for download both as a pre-packaged SQL file and as an R package (Friendly et al. 2023).</td>
                 </tr>
                 <tr>
                     <td><a href="https://cran.r-project.org/web/packages/babynames/index.html"><b>Baby Names</b></a> </td>
                     <td>The <b>babynames</b> package for R provides data about the popularity of individual baby names from the United States Social Security Administration (Hadley Wickham 2019). These data can be used, for example, to track the popularity of certain names over time.</td>
                 </tr>
                 <tr>
                     <td><a href="https://github.com/baumer-lab/fec16"><b>Federal Election Commission</b></a> </td>
                     <td>The <b>fec16</b> package (Benjamin S. Baumer and Gjekmarkaj 2017) provides access to campaign spending data for recent federal elections maintained by the Federal Election Commission. These data include contributions by individuals to committees, spending by those committees on behalf, or against individual candidates for president, the Senate, and the House of Representatives, as well information about those committees and candidates. The fec12 and fec16 packages provide that information for single election cycles in a simplified form (Tapal, Gahwagy, and Ryan 2023).</td>
                 </tr>
                 <tr>
                     <td><a href="https://cran.r-project.org/web/packages/macleish/index.html"><b>MacLeish</b></a> </td>
                     <td>The Ada and Archibald MacLeish field station is a 260-acre plot of land owned and operated by Smith College. It is used by faculty, students, and members of the local community for environmental research, outdoor activities, and recreation. The <b>macleish</b> package allows you to download and process weather data as a time series from the MacLeish Field Station using the etl framework (Benjamin S. Baumer et al. 2022). It also contains shapefiles for contextualizing spatial information.</td>
                 </tr>
                 <tr>
                     <td><a href="https://rdrr.io/cran/mdsr/man/Violations.html"><b>Restaurant Violations</b></a> </td>
                     <td> The <b>mdsr</b> package contains data on restaurant health inspections made by the New York City Health Department.</td>
                 </tr>
                      </tbody>
                  </table></div>



         <h3><p class="separator">Data Sets in Python Modules</p>
         </h3>

                <div><table class="sortable-table">
                   <thead>
                       <tr>
                           <th>Data</th>
                           <th>Description</th>

                       </tr>
                   </thead>
                   <tbody>   
                   <!-- Separator row -->
                    <!--<tr> -->
                      <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
                    <!--</tr>-->
                       <tr>
                           <td><a href="https://pypi.org/project/imdby/#:~:text=Main%20features-,imdby%20is%20a%20Python%20package%20useful%20to%20retrieve%20and%20manage,IMDb%20user%20reviews%20is%20included."><b>Movies</b></a> </td>
                           <td>The Internet Movie Database (<b>imdby</b> python package) is a massive repository of information about movies (IMDB.com 2013). The easiest way to get the IMDb data into SQL is by using the open-source IMDbPY Python package (Alberani 2014).</td>
                       </tr>

                            </tbody>
                        </table></div>


    </main>

 {% endblock %}
