{% extends "base.html"%}
{% block title%}Randomization{%endblock%}

{% block content %}

    <main style="font-family: Arial">
       <center> <h2>Randomization</h2></center>

      <p>This page contains tools that help researchers with simple visualizations and calculations </p>

      <div style="aling: center;">
          <label for="search-input">Search this page:</label>
          <input type="text" id="search-input" oninput="search()">
      </div>

      <h3><p class="separator"><a >Randomization</a></p>
      </h3>









{% endblock %}