  {% extends "base.html"%}
  {% block title%}Sample Size Calculations{%endblock%}

  {% block content %}

    <main style="font-family: Arial">
       <center> <h2>Sample Size Calculations</h2></center>

      <p>This page contains tools that help researchers with simple visualizations and calculations </p>

      <div style="aling: center;">
          <label for="search-input">Search this page:</label>
          <input type="text" id="search-input" oninput="search()">
      </div>

      <h3><p class="separator"><a >Sample Size Calculations</a></p>
      </h3>


          <div><table class="sortable-table">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Description</th>
                    <th>Brief Overview</th>
                    <th>Video</th>
                    <th>Slides</th>
                    <th>Code</th>
                    <th>Data</th>

                </tr>
            </thead>
            <tbody>   
            <!-- Separator row -->
             <!--<tr> -->
               <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
             <!--</tr>-->


                  <tr>
                    <td><b>Paired t-test</b></a></td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
            <td><a href="https://vbiostatps.app.vumc.org/ps/t-test/paired"<b>Resources</b></a></td>
                    <td>    </td>
                  </tr>

            <tr>
              <td><b>Independent t-test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://vbiostatps.app.vumc.org/ps/t-test/ind"<b>Resources</b></a></td>
              <td>    </td>
            </tr>

            <tr>
              <td><b>z-test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://vbiostatps.app.vumc.org/ps/z-test"<b>Resources</b></a></td>
              <td>    </td>
            </tr>

            <tr>
              <td><b>Proportions</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://vbiostatps.app.vumc.org/ps/dichot"<b>Resources</b></a></td>
              <td>    </td>
            </tr>

            <tr>
              <td><b>Binary Outcome: Superiority Test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://www.sealedenvelope.com/power/binary-superiority/"<b>Resources</b></a></td>
              <td>    </td>
            </tr>

            <tr>
              <td><b>Binary Outcome: Equivalence Test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://www.sealedenvelope.com/power/binary-equivalence/"<b>Resources</b></a></td>
              <td>    </td>
            </tr>
            <tr>
              <td><b>Binary Outcome: Non-inferiority Test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://www.sealedenvelope.com/power/binary-noninferior/"<b>Resources</b></a></td>
              <td>    </td>
            </tr>
            <tr>
              <td><b>Continuous Outcome: Superiority Test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://www.sealedenvelope.com/power/continuous-superiority/"<b>Resources</b></a></td>
              <td>    </td>
            </tr>

            <tr>
              <td><b>Continuous Outcome: Equivalence Test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://www.sealedenvelope.com/power/continuous-equivalence/"<b>Resources</b></a></td>
              <td>    </td>
            </tr>
            <tr>
              <td><b>Continuous Outcome: Non-inferiority Test</b></a></td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
              <td>    </td>
             <td><a href="https://www.sealedenvelope.com/power/continuous-noninferior/"<b>Resources</b></a></td>
              <td>    </td>
            </tr>





            </tbody>
        </table>
      </div>








{% endblock %}