  {% extends "base.html"%}
  {% block title%}Sample Size Calculations{%endblock%}

  {% block content %}

    <main style="font-family: Arial">
       <center> <h2>Sample Size Calculations</h2></center>

      <p>This page contains tools that help researchers with simple visualizations and calculations </p>

      <div style="aling: center;">
          <label for="search-input">Search this page:</label>
          <input type="text" id="search-input" oninput="search()">
      </div>

      <h3><p class="separator"><a >Sample Size Calculations</a></p>
      </h3>








{% endblock %}