  {% extends "base.html"%}
  {% block title%}Software{%endblock%}

  {% block content %}

    <main style="font-family: Arial">
       <center> <h2>Software Training</h2></center>

      <p>This page contains materials that help investigators gain familiarity with statistical sofware packages.  Much of these materials are linked to, or adapted from, The UCLA Institute for Digital Research and Education (UCLA IDRE).  Materials linked to, or adapted from, UCLA IDRE are copyrighted and used with permission from the UCLA Office of Advanced Research Computing </p>

      <div style="aling: center;">
          <label for="search-input">Search this page:</label>
          <input type="text" id="search-input" oninput="search()">
      </div>

      <h3><p class="separator"><a >Software Training</a></p>
      </h3>


            <div><table class="sortable-table">
              <thead>
                  <tr>
                      <th>Topic</th>
                      <th>Description</th>
                      <th>Brief Overview</th>
                      <th>Video</th>
                      <th>Slides</th>
                      <th>Code</th>
                      <th>Data</th>

                  </tr>
              </thead>
              <tbody>   
              <!-- Separator row -->
               <!--<tr> -->
                 <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
               <!--</tr>-->


                    <tr>
                      <td><b>R</b></a></td>
                      <td>    </td>
                      <td>    </td>
                      <td>    </td>
                      <td>    </td>
              <td><a href="https://stats.oarc.ucla.edu/r/"<b>Resources</b></a></td>
                      <td>    </td>
                    </tr>

              <tr>
                <td><b>SAS</b></a></td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
               <td><a href="https://stats.oarc.ucla.edu/sas/"<b>Resources</b></a></td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>SPSS</b></a></td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
               <td><a href="https://stats.oarc.ucla.edu/spss/"<b>Resources</b></a></td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>STATA</b></a></td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
               <td><a href="https://stats.oarc.ucla.edu/stata/"<b>Resources</b></a></td>
                <td>    </td>
              </tr>

             



              </tbody>
          </table>
        </div>



     {% endblock %}