  {% extends "base.html"%}
  {% block title%}Tools{%endblock%}

  {% block content %}
    <main style="font-family: Arial">
       <center> <h2>Tools</h2></center>

      <p>This page contains tools that help researchers with simple visualizations and calculations </p>

      <div style="aling: center;">
          <label for="search-input">Search this page:</label>
          <input type="text" id="search-input" oninput="search()">
      </div>

      <h3><p class="separator"><a >Tools</a></p>
      </h3>


            <div><table class="sortable-table">
              <thead>
                  <tr>
                      <th>Topic</th>
                      <th>Description</th>
                      <th>Brief Overview</th>
                      <th>Video</th>
                      <th>Slides</th>
                      <th>Code</th>
                      <th>Data</th>

                  </tr>
              </thead>
              <tbody>   
              <!-- Separator row -->
               <!--<tr> -->
                 <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
               <!--</tr>-->


                    <tr>
                      <td><b>Distribution Visualization</b></a></td>
                      <td>    </td>
                      <td>    </td>
                      <td>    </td>
                      <td>    </td>
              <td><a href="distributions"<b>Resources</b></a></td>
                      <td>    </td>
                    </tr>

              <tr>
                <td><b>Sample Size Calculations</b></a></td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
               <td><a href="sampleSizeCalculations"<b>Resources</b></a></td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Randomizations</b></a></td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
                <td>    </td>
               <td><a href="randomizations"<b>Resources</b></a></td>
                <td>    </td>
              </tr>

              





              </tbody>
          </table>
        </div>



    {% endblock %}