{% extends "base.html"%}
{% block title%}Tutorials{%endblock%}

{% block content %}

    <main style="font-family: Arial">
       <center> <h2>Tutorials</h2></center>

      <p>This page contains materials that help guide investigators through "how to" and best practices tutorials on a variety of staistical topics ranging from conceptualizing statistical methods to processing data for analysis</p>

      <div style="align: center;">
          <label for="search-input">Search this page:</label>
          <input type="text" id="search-input" oninput="search()">
      </div>

      <h3><p class="separator"><a >Tutorials</a></p>
      </h3>
       

            <div><table class="sortable-table">
              <thead>
                  <tr>
                      <th>Topic</th>
                      <th>Description</th>
                      <th>Brief Overview</th>
                      <th>Video</th>
                      <th>Slides</th>
                      <th>Code</th>
                      <th>Data</th>

                  </tr>
              </thead>
              <tbody>   
              <!-- Separator row -->
               <!--<tr> -->
                 <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
               <!--</tr>-->


                    <tr>
                      <td><b>Data from pdf to CSV</b></a></td>
                      <td>Use Python to read data from a .pdf file into a .csv file</a></td>
                      <td>    </td>
                      <td>    </td>
                      <td><a href="{{ url_for('static', filename='test.pdf') }}"<b>ppt</b></a></td>
                      <td>    </td>
                      <td>    </td>
                    </tr>
                    
              <tr>
                <td><b>Statistical Tests</b></a></td>
                <td>What statistical test should I use?</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/A3.pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Sensitivity, Specificity, Predictive Values</b></a></td>
                <td>Measures for Screening Test performance including likelihood ratios and Bayes theorem.</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/sensitivity%20and%20specificity,%20%20likelihood%20ratios%20for%20CDM%208page%20version.docx"<b>doc</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Receiver Operator Characteristic (ROC) curves</b></a></td>
                <td>Interpreting ROC curves</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/Receiver%20operating%20characteristic%20(ROC)%20curves.pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Logistic Regression</b></a></td>
                <td>Introduction to logistic regresssion</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/What%20is%20logistic%20regression.pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Ordinal Outcomes</b></a></td>
                <td>Assessing ordinal outcoms using proportional odds analysis</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02//Assessing%20an%20ordinal%20outcome%20-%20proportional%20odds%20analysis.pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Time to Event Outcomes</b></a></td>
                <td>Analyzing outomces measures as "time to event" including survival</a></td>
                <td>    </td>
                <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/c2dcb18e3ade4130831b95cf7ec9c9401d"<b>Video</b></a></td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/Analyzing%20outcomes%20measured%20as%20a%20time%20to%20event.pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              
              <tr>
                <td><b>Bland Altman Plots</b></a></td>
                <td>Analyzing agreement between measurements</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/A2.pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Meta Analysis</b></a></td>
                <td>What are systematic reviews and meta analyses?</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/Meta-analysis%20osctr%202014.pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Standardized Mortality Ratios (SMR)</b></a></td>
                <td>What is an SMR and how is it interpreted?</a></td>
                <td>    </td>
                <td>    </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/Standardized%20mortality%20ratios%20(SMR).pdf"<b>pdf</b></a></td>
                <td>    </td>
                <td>    </td>
              </tr>

              <tr>
                <td><b>Power and Sample Size 1</b></a></td>
                <td>Introduction to statistical power and sample size calculation</a></td>
                <td>    </td>
                <td>    </td>
                <td>  </td>
                <td>   </td>
                <td>   </td>
              </tr>

              <tr>
                <td><b>Power and Sample Size 2</b></a></td>
                <td>Introduction to statistical power and sample size calculation</a></td>
                <td>    </td>
                <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/0b52e047e0d9409a97e102b57b624a591d"<b>Video</b></a></td>
              
                <td>  </td>
                <td>   </td>
                <td>   </td>
              </tr>

              <tr>
                <td><b>Statistical Thinking</b></a></td>
                <td>Quantifying Uncertainty</a></td>
                <td>    </td>
                <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/f90f5335f7e047b4bb84740b800f4bb11d"<b>Video</b></a></td>

                <td>  </td>
                <td>   </td>
                <td>   </td>
              </tr>

              <tr>
                <td><b>Statistical Significance</b></a></td>
                <td>Alternatives to the p-value</a></td>
                <td>    </td>
                <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/fa79f2678eeb41fe8f331fe27dcae6d91d"<b>Video</b></a></td>

                <td>  </td>
                <td>   </td>
                <td>   </td>
              </tr>


              <tr>
                <td><b>Quantifying Benefit and Harm</b></a></td>
                <td>An example from research in the OUHSC Dept of Pediatrics</a></td>
                <td>    </td>
                <td>  </td>

                <td>  </td>
                <td>   </td>
                <td>   </td>
              </tr>

              <tr>
                <td><b>Effect Modification/Interaction</b></a></td>
                <td>Toward a common language in additive and multiplicative models</a></td>
                <td>    </td>
                <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/9d0208a264864ee4938f9fc3fc28dd311d"<b>Video</b></a></td>
              

                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/EM.zip"<b>pdf</b></a></td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/EM.zip"<b>Code</b></a></td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/EM.zip"<b>Data</b></a> </td>
              </tr>

              <tr>
                <td><b>Multiplicity</b></a></td>
                <td>Multiplicity adjustment in design and analysis of clinical trials.</a></td>
                <td>  </td>
                <td><a href="https://osctr.ouhsc.edu/sites/default/files/2023-02/multiplicity.mp4"<b>Video</b></a></td>

                <td>  </td>
                <td>   </td>
                <td>   </td>
              </tr>



              
              </tbody>
          </table>
        </div>



      


{% endblock %}