<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Courses/ Workshops/ Seminars</title>
  <style>
    .banner {
            background-color: #003366; /* Change to your desired background color */
            color: #fff; /* Text color */
            padding: 20px;
            text-align: center;
        }

         .separator {
            margin-top: 1cm;
        }
         main {
            margin: .75in;
            padding: 0;
        }
         table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
        .table-container{
            margin-left: 0.75in;
            margin-right: 0.75in;
        }

     #navbar {
       overflow: hidden;
       background-color: #333;
     }

     #navbar a {
       float: left;
       display: block;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
     }

     #navbar a:hover {
       background-color: #ddd;
       color: black;
     }

     #navbar a.active {
       background-color: #003366;
       color: white;
     }

     .content {
       padding: 16px;
     }

     .sticky {
       position: fixed;
       top: 0;
       width: 100%;
     }

     .sticky + .content {
       padding-top: 60px;
     }

  
  </style>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
      function search() {
          var keyword = $('#search-input').val().toLowerCase();
          $('table tbody tr').each(function() {
              var rowText = $(this).text().toLowerCase();
              if (rowText.includes(keyword)) {
                  $(this).show();
              } else {
                  $(this).hide();
              }
          });
      }
  </script>
</head>
<body>
    <header>
        <div class="banner">
        <center><h1>BERD Design and Computational Resources Unit</h1>
        <nav>

         

          
 
        </nav></center></div>
    </header>

  <div id="navbar" style="font-family: Arial">
    <a class="active" href="/">Home</a>
    <a href="publicData">Data Sets</a>
    <a href="analysisExamps">Data Analysis Examples</a>
    <a href="powerExamps">Power Analysis Examples</a>
    <a href="workshops">Seminars and Workshops</a>
    <a href="softTrain">Software Training</a>
    <a href="tutorials">Tutorials</a>
     <a href="https://redcap.ouhsc.edu/redcap/surveys/?s=u8Tipfbiwk">Request Form</a>
  </div>
  
      <main style="font-family: Arial">
         <center> <h2>Seminars, Short Courses, and Workshops</h2></center>

      <p>The OSCTR and BERD host regular Seminars, Short Coursess 
        and Workshops to give researchers opportunities to dive deeper into biostatistical 
        and epidemiological topics and equip them with the resources and tools they need to 
        become familiar with new methodologies.  These topics range from basic quantitative 
        methods to more novel methodologies such as missing data analysis.  The link above will
        take you to a list of these seminars, short courses, and workshops which contains links 
        to recorded trainings, workshop notes, computer code, and applicable data sets when available</p>

        <div style="aling: center;">
            <label for="search-input">Search this page:</label>
            <input type="text" id="search-input" oninput="search()">
        </div>
      
        <h3><p class="separator"><a href="https://osctr.ouhsc.edu/Seminar%20Series">Seminars</a></p>
        </h3>

       <div><table class="sortable-table">
          <thead>
              <tr>
                  <th>Topic</th>
                  <th>Title</th>
                  <th>Brief Overview</th>
                  <th>Video</th>
                  <th>Slides</th>
                  <th>Code</th>
                  <th>Data</th>

              </tr>
          </thead>
          <tbody>   
          <!-- Separator row -->
           <!--<tr> -->
             <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
           <!--</tr>-->


                <tr>
                  <td><b>Clinical Epidemiology</b></a></td>
                  <td>An Overview of Clinical Epidemiology: Methedologic and Analytic Considerations</a></td>
                  <td>    </td>
                  <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/9c9acddd40e74d36890c1358b8f7a7cc1d"><b>Video<b></a>  </td>
                  <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/BERDSeminar05252018.pdf"> <b>Slides </b></a> </td>
                  <td>    </td>
                  <td>    </td>
                </tr>
                <tr>
                  <td><b>Directed Acyclic Graphs<b></td>
                  <td>An Introduction to the Use of Directed Acyclic Graphics (DAGs) in Epidemiologic Research</a></td>
                  <td>    </td>
                  <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/a291c85794bb4205bdf176b9a0f6b9191d"><b>Video<b></a>  </td>
                  <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/BERD_DAGs_Seminar_081616%20Handouts.pdf"> <b>Slides </b></a> </td>
                  <td>    </td>
                  <td>    </td>
                </tr>
                <tr>
                        <td><b>ROC Analysis</b></a></td>
                        <td>An Introduction to ROC Analysis in Clinical Research</a></td>
                        <td>    </td>
                        <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/b4816366a1af4b178c369c4f9596c0c11d"><b>Video<b></a>  </td>
                        <td>    </td>
                        <td>    </td>
                        <td>    </td>
                  </tr>



                   </tbody>
               </table></div>



                <h3><p class="separator">Short Courses and Workshops</p>
                </h3>

               <div><table class="sortable-table">
                  <thead>
                      <tr>
                          <th>Topic</th>
                          <th>Title</th>
                          <th>Brief Overview</th>
                          <th>Video</th>
                          <th>Slides</th>
                          <th>Code</th>
                          <th>Data</th>

                      </tr>
                  </thead>
                  <tbody>   
                  <!-- Separator row -->
                   <!--<tr> -->
                     <!--  <td colspan="2" style="background-color: #ccc; text-align: center;"><b>Data Sets in Public Health and Medicine</b></td>-->
                   <!--</tr>-->


                    <tr>

                        <td><a href="https://osctr.ouhsc.edu/Introduction%20to%20Bayesian%20Statistics"><b>Bayesian Analysis</b></a></td>

                        <td>Introduction to Bayesian Statistical Analyses</a></td>

                         <td> <a href="https://www.jpeds.com/action/showPdf?pii=S0022-3476%2818%2931707-4"> <b> Summary </b>  </td>

                        <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/4ff221313fab4b40b551e91d307179e01d"> <b> Video </b> </td>

                         <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/OSCTR%20Lecture%201%20and%202%202016%20handout.pdf"> <b>Slides </b> </td>

                         <td>    </td>

                         <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/class%20data%20short.txt"> <b>Data </b> </td>
                    </tr>

                    <tr>

                        <td><a href="https://osctr.ouhsc.edu/Foundations%20of%20Biostatistics%20and%20Epidemiology"><b>Biostatistics and Epidemiology</b></a></td>

                        <td>Foundations of Biostatistics and Epidemiology</a></td>

                         <td>    </td>

                        <td><a href="http://osctr.ouhsc.edu/sites/default/files/2020-02/TPIR%20Research%20Question%20Part%20I.mp4"> <b> Video </b> </td>

                         <td><a href="http://osctr.ouhsc.edu/sites/default/files/2020-02/Module%201%20Part%20I%20Notes.pdf"> <b>Slides </b> </td>

                         <td>    </td>
                          <td>    </td>
                    </tr>
                 <tr>
                      <td><a href="https://osctr.ouhsc.edu/Instrument%20Development%20and%20Psychometrics%20Workshop"><b>Instrument Development and Validation</b></a></td>
                     <td>Developing and Validating Instruments: Basic Concepts and Application of Psychometrics</td>
                     <td>    </td>
                     <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/3ebfbbd5708d41beb659328974c1d39e1d"><b>Video<b></a>  </td>
                     <td><a href="http://osctr.ouhsc.edu/sites/default/files/2020-02/Scale%20Validation%20Session2.pptx"> <b>Slides </b> </a></td>
                     <td>    </td>
                     <td>    </td>
                 </tr>
                       <tr>

                           <td><a href="https://osctr.ouhsc.edu/Intro%20to%20Missing%20Data"><b>Missing Data</b></a></td>

                           <td>Introduction to Missing Data Analysis</a></td>

                            <td>    </td>

                           <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/5ff4b2f9c99240c8aebab722cb7981121d"> <b> Video </b> </td>

                             <td>    </td>

                            <td>    </td>

                              <td>    </td>

                       </tr>
                      <tr>

                          <td><a href="https://osctr.ouhsc.edu/r-short-course"><b>Propensity Score Analysis </b></a></td>

                          <td>Introduction to Propensity Score Analysis</a></td>

                           <td>    </td>

                           <td>    </td>

                            <td>    </td>

                           <td>    </td>

                            <td>    </td>
                      </tr>
                     
                      <tr>
                           <td><a href="https://osctr.ouhsc.edu/Qualitative%20Research%20Methods"><b>Qualitative Research Methods</b></a></td>
                          <td>Introduction to Qualitative Research Methods</td>
                          <td>    </td>
                          <td>    </td>
                          <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/Overview%20of%20Qualitative%20Research%20Methods%20Part%20I%20NOTES.pdf"> <b>Slides </b></a> </td>
                          <td>    </td>
                          <td>    </td>
                      </tr>
                       <tr>
                            <td><a href="https://osctr.ouhsc.edu/Quantitative%20Research%20Methods"><b>Quantitative Research Methods</b></a></td>
                           <td>Introduction to Quantitative Research Methods</td>
                           <td>    </td>
                           <td>    </td>
                           <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/Quantitative%20Research%20Methods%20Training%201%20FINAL.pdf"> <b>Slides </b> </a></td>
                           <td>    </td>
                           <td>    </td>
                       </tr>
                 <tr>
                     <td><a href="https://osctr.ouhsc.edu/REDCap%20Training"><b>REDCap Training</b></a></td>
                     <td>An Introduction to the use of REDCap in Research</td>
                     <td>    </td>
                     <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/fad430e6c8494f6e96208bf37f7983131d"><b>Video<b></a>  </td>
                      <td><a href="https://osctr.ouhsc.edu/sites/default/files/2020-02/Level101.pptx"> <b>Slides </b></a> </td>
                     <td>    </td>
                     <td>    </td>
                 </tr>
                           <tr>
                                <td><a href="https://osctr.ouhsc.edu/r-short-course"><b>R Short Course 1</b></a></td>
                               <td>Introduction to R</td>
                               <td>    </td>
                               <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/4411c0b8614042189df430f3ca5722f31d"> <b>Video </b></a></td>
                               <td><a href="https://octsi.ouhsc.edu/sites/default/files/2020-02/Session1.pdf"> <b>Slides </b></a> </td>
                               <td> <a href="https://octsi.ouhsc.edu/sites/default/files/2020-02/Session2.R.txt"> <b>Code </b></a>  </td>
                               <td> <a href="https://octsi.ouhsc.edu/sites/default/files/2020-02/RMR2.csv"> <b>Data </b></a>   </td>
                           </tr>

                            <tr>

                                <td><a href="https://osctr.ouhsc.edu/r-short-course"><b>R Short Course 2</b></a></td>

                                <td>Intermediate R</a></td>

                                 <td>    </td>

                                <td><a href="https://mediasite.ouhsc.edu/Mediasite/Play/b96a448788a240b1a4448074cd5dcd041d"> <b> Video </b> </td>

                                 <td><a href="https://octsi.ouhsc.edu/sites/default/files/2021-02/BERD%20R%20Short%20Course%20(Topic%201).pptx"> <b>Slides </b> </td>

                               <td><a href="https://octsi.ouhsc.edu/sites/default/files/2021-02/Nonlinear_script.R.txt"> <b>Code </b> </td>

                                 <td><a href="https://octsi.ouhsc.edu/sites/default/files/2021-04/Topic%206%20dat.csv"> <b>Data </b> </td>
                            </tr>
                            
                            

                               
                            





                                 </tbody>

                             </table></div>

                           </tbody>
                       </table></div>


    </main>
                    <script>
                    window.onscroll = function() {myFunction()};

                    var navbar = document.getElementById("navbar");
                    var sticky = navbar.offsetTop;

                    function myFunction() {
                      if (window.pageYOffset >= sticky) {
                        navbar.classList.add("sticky")
                      } else {
                        navbar.classList.remove("sticky");
                      }
                    }
                    </script>

                          <script>
                              // Function to sort the table rows based on the text after the <b> tag in the first column
                              function sortTable(table) {
                                  var rows, switching, i, x, y, shouldSwitch;
                                  switching = true;

                                  while (switching) {
                                      switching = false;
                                      rows = table.rows;

                                      for (i = 1; i < (rows.length - 1); i++) {
                                          shouldSwitch = false;
                                          x = rows[i].getElementsByTagName("TD")[0];
                                          y = rows[i + 1].getElementsByTagName("TD")[0];

                                          // Extract text content after <b> tag for comparison
                                          var xText = x.getElementsByTagName("B")[0].innerText.toLowerCase();
                                          var yText = y.getElementsByTagName("B")[0].innerText.toLowerCase();

                                          if (xText > yText) {
                                              shouldSwitch = true;
                                              break;
                                          }
                                      }

                                      if (shouldSwitch) {
                                          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                          switching = true;
                                      }
                                  }
                              }

                              // Call the sortTable function for all tables when the page is loaded
                              window.onload = function () {
                                  var tables = document.getElementsByClassName("sortable-table");

                                  for (var i = 0; i < tables.length; i++) {
                                      sortTable(tables[i]);
                                  }
                              };
                          </script>
</body>
</html>
